@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-700;
  }
  body {
    @apply bg-gray-900 text-gray-100 antialiased;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-8 py-16 sm:py-20 lg:py-24;
  }
}

